API_KEY=
BOT_ID= 
DISCORD_TOKEN=
ESPN_S2= 
LEAGUE_ID= 
OPEN_API_KEY=
PORT= 
SLEEPER_LEAGUE_ID= 
SWID= 

POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NO_SSL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Trivia
TRIVIA_CHANNEL_ID=
TRIVIA_ADMIN_USER_IDS=

# Economy
ECONOMY_TOWN_SQUARE_CHANNEL_ID=
ECONOMY_CASINO_CHANNEL_ID=

# Stock Trading
FINNHUB_API_KEY=