# Dependencies
node_modules

# Build output
build
.svelte-kit

# Environment
.env
.env.*
!.env.example

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Local Netlify folder
.netlify

# Wrangler
.wrangler
